.hero
	background: #c3ae8f url('../img/hero/skinali1.jpg') no-repeat center top 80px
	background-size: contain
	padding-top: 180px
	padding-bottom: 273px

	&__title
		font-size: 30px
		margin-bottom: 40px

	&__subtitle
		display: block
		font-size: 30px
		+bold
		margin-bottom: 67px